.dark {
  background-color: var(--background-color-dark);
  button, p, h3 {
    color: var(--main-font-color-dark);
  }
}

.container {
  height: calc(100dvh - var(--header-height));
  overflow: auto;
  margin-bottom: 5rem;
}

.contactList {
  display: flex;
  flex-direction: column;
  padding: var(--main-padding);
  
  li {
    border-bottom: 1px solid var(--background-light-color);
  }
}
