.dark {
  background-color: var(--background-color-dark);
  button, p {
    color: var(--main-font-color-dark);
  }
}

.contactList {
  display: flex;
  flex-direction: column;
  padding: var(--main-padding);
  li {
    border-bottom: 1px solid var(--background-light-color);
  }
}
