.container {
max-height: 100dvh;
overflow: hidden;
}

.header {
  height: var(--header-height);
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 0.7rem var(--main-padding);
  background-color: var(--main-theme-color);
  button {
    position: relative;
    span {
      position: absolute;
      width: max-content;
      left: -200%;
      bottom: -120%;
      font-size: 1rem;
      display: none;
      background-color: var(--main-theme-color-dark);
      padding: 0.5rem;
      border: 1px solid var(--main-font-color-dark);
    }
    &:hover {
      span {
        display: block;
      }
    }
  }

  &.dark {
    background-color: var(--main-theme-color-dark);
  }
}
.title {
  color: var(--main-font-color-header);
  font-weight: 800;
  font-size: 1.5rem;
}
.menu {
  display: flex;
  gap: 0.5rem;
  margin-left: auto;
  margin-right: 1rem;
  button {
    color: white;
  }
}

.open {
  transform: translateX(0) !important;
}
