.emotesContainer {
    position: absolute;
    width: 100%;
    left: 0;
    top: -400%;
    font-size: 2rem;
    display: grid;
    gap: .5rem;
    min-height: 46dvh;
    padding: var(--main-padding);
    grid-template-columns: repeat(auto-fill, 2rem);
    background-color: var(--background-light-color);
    transform: translateY(100%);
    z-index: -10;
    transition: .3s linear;
    transform-origin: bottom;
    &.open {
        transform: translateY(0);
        z-index: 0;
    }
}
