.giphsContainer {
  padding: var(--main-padding);
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  overflow: scroll;
  width: 100%;
  left: 0;
  bottom: 71px;
  max-height: 10rem;
  background-color: var(--background-light-color);
  transform: translateY(100%);
  z-index: 0;
  transition: 0.5s;
  transform-origin: bottom;

  &.dark {
    background-color: var(--main-theme-color-dark);
  }

  .searchContainer {
    align-self: center;
    margin-bottom: .5rem;
    display: flex;
    input {
      border: none;
      font-size: 1.2rem;
    }
    &.dark {
      input {
        background-color: var(--secondary-font-color);
        color: var(--main-font-color-dark);
      }
      svg, input::placeholder {
        color: var(--main-font-color-dark);
      }
    }
  }

  .gifGrid {
    display: grid;
    padding: 0 2rem 0 0 ;
    gap: .5rem;
    grid-template-columns: repeat(auto-fill, minmax(7rem, 1fr));
  }
  &.open {
    transform: translateY(0);
    z-index: 0;
  }
}
