.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 100;
  transform: translateX(-100%);
  transition: 0.5s;
  min-height: 100vh;
}

.header {
  height: var(--header-height);
  background-color: var(--main-theme-color);
  display: flex;
  padding: .7rem  var(--main-padding);
  gap: 2rem;
}

.buttonBack {
  color: var(--main-font-color-header);
  font-size: 1.5rem;
}
.info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
  h2,
  p {
    color: var(--main-font-color-header);
  }
  h2 {
    font-size: 1.4rem;
  }
}

.contactsContainer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: var(--main-padding);
}
.contactBox {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 1.5rem;
    height: 100px;
    h2 {
        display: flex;
        text-align: start;
        align-self: center;
    }
}

.searchInput {
  width: 88%;
  margin: 1rem var(--main-padding);
  font-size: 1.1rem;
  padding: .5rem;
  border: 1px solid var(--background-light-color);
}