.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background-color: white;
  z-index: 100;
  transform: translateX(-100%);
  transition: 0.5s;
  min-height: 100vh;
  &.dark {
    background-color: var(--background-color-dark);
  }
}

.header {
  height: var(--header-height);
  background-color: var(--main-theme-color);
  display: flex;
  padding: 0.7rem var(--main-padding);
  gap: 2rem;
  &.dark {
    background-color: var(--main-theme-color-dark);
  }
}

.buttonBack {
  color: var(--main-font-color-header);
  font-size: 1.5rem;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  h2,
  p {
    color: var(--main-font-color-header);
  }
  h2 {
    font-size: 1.4rem;
  }
}

.contactsContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: var(--main-padding);
}
.contactBox {
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 1.5rem;
  height: 100px;
  h2 {
    display: flex;
    text-align: start;
    align-self: center;
  }
  &.dark {
    h2 {
      color: var(--main-font-color-dark);
    }
  }
}

.searchInput {
  margin: 1rem var(--main-padding);
  font-size: 1.1rem;
  padding: 0.5rem;
  border: 1px solid var(--background-light-color);
  &.dark {
    background-color: var(--main-theme-color-dark);
    color: var(--main-font-color-dark);
  }
}

@media screen and (min-width: 700px) {
  .container {
    width: 50%;
  }
}
