.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 100;
  transform: translateX(-100%);
  transition: 0.5s;
  min-height: 100vh;
  overflow: auto;
  &.dark {
    background-color: var(--background-color-dark);
  }
}

.header {
  height: var(--header-height);
  background-color: var(--main-theme-color);
  display: flex;
  align-items: center;
  padding: 0.7rem var(--main-padding);
  gap: 2rem;
  &.dark {
    background-color: var(--main-theme-color-dark);
  }
}

.buttonBack {
  color: var(--main-font-color-header);
  font-size: 1.5rem;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  h2,
  p {
    color: var(--main-font-color-header);
  }
  h2 {
    font-size: 1.4rem;
  }
}

.mainForm {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  padding: var(--main-padding);
  input[type='file'] {
    display: none;
  }
  .imageLabel {
    display: grid;
    width: 60%;
    aspect-ratio: 1;
    max-width: 15rem;
    background-color: var(--secondary-font-color);
    border-radius: 20%;
    overflow: hidden;
    img {
      max-width: 80%;
      max-height: 80%;
      align-self: center;
      justify-self: center;
      margin: 0.5rem;
    }
    .backgroundIcon {
      grid-column: 1/1;
      grid-row: 1/1;
      color: var(--main-font-color-header);
      font-size: 30vw;
      max-width: 163px;
      justify-self: center;
      align-self: center;
      filter: opacity(0.15);
    }
    .imageBox {
      color: var(--main-font-color-header);
      grid-column: 1/1;
      grid-row: 1/1;
      text-align: center;
      justify-self: center;
      align-self: center;
      p {
        color: var(--main-font-color-header);
      }
    }
  }
  label[for='groupName'] input[type='text'] {
    width: 50vw;
    max-width: 20rem;
    border: none;
    border-bottom: 2px solid var(--secondary-font-color);
    font-size: 1.1rem;
    &:focus {
      border-bottom: 2px solid var(--active-theme-color);
      outline: none;
    }
    &.dark {
      background-color: var(--main-theme-color-dark);
      color: var(--main-font-color-dark);
    }
  }
  .goFurtherButton {
    font-size: 3rem;
    color: var(--active-theme-color);
  }
}

.contactsContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: var(--main-padding);
  overflow: auto;
}
.contactBox {
  display: grid;
  grid-template-columns: 70px 70px 1fr;
  height: 50px;
  align-items: center;

  h2 {
    display: flex;
    text-align: start;
    align-self: center;
  };
  &.dark {
    h2 {
      color: var(--main-font-color-dark);
    }
  }
}

.searchInput {
  width: 88%;
  margin: 1rem var(--main-padding);
  font-size: 1.1rem;
  padding: 0.5rem;
  border: none;
  border-bottom: 2px solid var(--secondary-font-color);
  font-size: 1.1rem;
  width: 50vw;
  max-width: 20rem;
  margin: 0 auto 1rem auto;
  &:focus {
    border-bottom: 2px solid var(--active-theme-color);
    outline: none;
  }
  &.dark {
    background-color: var(--main-theme-color-dark);
    color: var(--main-font-color-dark);
  }
}

.participantsList {
  padding: var(--main-padding);
  font-size: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
  button {
    font-size: 2.5rem;
    color: var(--secondary-font-color);
  }
  li {
    height: 3rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--background-light-color);
    border-radius: 100rem;
    img {
      width: 100%;
    }
  }
  &.dark {
    button,
    p {
      color: var(--main-font-color-dark);
    }
    li {
      background-color: var(--main-theme-color-dark);
    }
  }
}

.secondStageContainer {
  display: flex;
  flex-direction: column;
}

.previousPage {
  padding: var(--main-padding);
  display: flex;
  align-items: center;
  button {
    color: var(--secondary-font-color);
  }
  &.dark {
    button,
    p {
      color: var(--main-font-color-dark);
    }
  }
}

.createButton {
  padding: var(--main-padding);
  display: flex;
  align-self: center;
  align-items: center;
  font-size: 1.5rem;
  button {
    color: var(--active-theme-color);
    font-size: 2rem;
  }
  &.dark {
    p {
      color: var(--main-font-color-dark);
    }
  }
}
