.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background-color: white;
  z-index: 100;
  transform: translateX(-100%);
  transition: 0.5s;
  min-height: 100vh;
  &.dark {
    background-color: var(--background-color-dark);
    button,
    p,
    label,
    svg,
    h1 {
      color: var(--main-font-color-dark);
    }
  }
  .logout {
  button, svg {
    color: rgb(241, 92, 109);
  }
}
}

.header {
  height: var(--header-height);
  background-color: var(--main-theme-color);
  display: flex;
  align-items: center;
  padding: 0.7rem var(--main-padding);
  gap: 2rem;
  h2 {
    color: var(--main-font-color-header);
    font-size: 1.4rem;
  }
  &.dark {
    background-color: var(--main-theme-color-dark);
  }
}

.buttonBack {
  color: var(--main-font-color-header);
  font-size: 1.5rem;
}

.settingsContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: var(--main-padding);
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--main-padding);
  h1 {
    font-size: 3rem;
  }
  input[type='file'] {
    display: none;
  }
  button {
    color: var(--main-theme-color);
    font-size: 3rem;
  }
}

.imageInput {
  position: relative;
  display: grid;
  width: 40%;
  max-width: 12rem;
  font-size: 300%;

  img {
    object-fit: cover;
    border-radius: 100rem;
    overflow: hidden;
    aspect-ratio: 1;
  }
  label {
    position: absolute;
    font-size: 3rem;
    right: 0;
    bottom: 0;
  }
}

.audio,
.theme,
.logout {
  position: relative;
  border-bottom: 1px solid var(--background-light-color);
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  button,
  .themeTitle,
  label,
  p,
  svg {
    font-size: 1.3rem;
    color: var(--secondary-font-color);
    svg {
      margin: 0 1rem;
    }
  }
  span {
    color: var(--secondary-font-color);
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

.theme,
.audio {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  gap: 1rem;
  .themeTitle,
  .audioTitle {
    display: flex;
    justify-content: center;
  }
  .audioTitle {
    gap: 1.3rem;
  }
  span {
    align-self: center;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    input {
      transform: scale(1.5);
      margin-right: 2vw;
    }
  }
  
}

