.emotesContainer {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 71px;
    font-size: 2rem;
    display: grid;
    gap: .5rem;
    padding: .5rem;
    grid-template-columns: repeat(auto-fill, 3rem);
    background-color: var(--background-light-color);
    transform: translateY(100%);
    transition: .3s linear;
    transform-origin: bottom;
    &.open {
        transform: translateY(0);
        z-index: 0;
    }
    &.dark {
        background-color: var(--main-theme-color-dark);
    }
}
