.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  gap: 1rem;

  p {
    font-weight: 700;
    font-size: 1.4rem;
  }

  h1 {
    font-size: 3rem;
    font-weight: 700;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    input {
      border: none;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      font-size: 1.3rem;
      padding: 0.2rem 0.5rem;
      &:focus {
        outline: none;
        border-bottom: 2px solid var(--active-theme-color);
      }
    }
  }
  button {
    color: var(--main-font-color-header);
    width: clamp(18rem, 50dvw, 25rem);
    font-size: 1.4rem;
    padding: 0.7rem 1rem;
    border-radius: 10rem;
    &:hover {
      cursor: pointer;
    }
  }

  &.dark {
    background-color: var(--background-color-dark);
    h1 {
      color: var(--main-font-color-dark);
    }
    form {
      input {
        background-color: var(--main-theme-color-dark);
        color: var(--main-font-color-dark);
      }
    }
     button {
      color: var(--background-color-dark);
    }
  }

  .buttonMain {
    background-color: var(--active-theme-color);
  }
  .buttonSecond {
    background-color: var(--main-theme-color);
  }
  .error {
    height: 1rem;
    color: red;
    font-weight: 300;
  }
}
